<div class="row">
  <div class="small-12 columns">
    </br>
    <h3 class="auth"><%= link_to 'Show', @newsletter %></h3>
    </br>
    <h3 class="auth"><%= link_to 'Back', newsletters_path %></h3>
    <h1>Editing newsletter</h1>
    <%= render 'form' %>
  </div>
</div>
