<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>Newsletters</h1>
      <p>
        With your help, we are reaching out to our communities planting seeds of hope, change and opportunity.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-9 columns">
    <%= render :partial => @newsletters %>
  </div>
  <div class="large-3 small-12 columns">
    <% @newsletters.each do |newsletter| %>
      <%= image_tag newsletter.image.url(:medium) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3><%= link_to 'New Newsletter', new_newsletter_path %></h3>
  </div>
</div>

