<div class="row">
  <div class="small-12 columns">
    </br>
    <h3 class="auth"><%= link_to 'Back', newsletters_path %></h3>
    <h1>New newsletter</h1>
    <h3><%= render 'form' %></h3>
  </div>
</div>
