<div class="row">
  <div class="small-12 columns">
    <% if current_user %>
      </br>
      <h3 class="auth"><%= link_to 'Show', @program %></h3>
      </br>
      <h3 class="auth"><%= link_to 'Back', programs_path %></h3>
    <% end %>
    <h1>Editing program</h1>

    <h3><%= render 'form' %></h3`>

  </div>
</div>
