<div class="row">
  <div class="small-12 columns">
    <h1>Editing program</h1>

    <h3><%= render 'form' %></h3`>

    <h3><%= link_to 'Show', @program %></h3>
    <h3><%= link_to 'Back', programs_path %></h3>
  </div>
</div>
