<div class="row">
  <div class="small-12 columns">
    </br>
    <h3 class="auth"><%= link_to 'Back', gift_path %></h3>
    </br>
    <h3 class="auth"><%= link_to 'Show', @gift %></h3>
    <h1>Editing Gift</h1>
    <%= render 'form' %>
  </div>
</div>
