<div id="header">
  <div class="row">
    <div class="small-7 columns logo">
      <div class="header-image"><%= image_tag "header-home.jpg" %></div>
    </div>

    <div class="small-5 columns">
      <div class="box1">
        <h2>Our Mission:</h2>
        <p>
          Our current efforts is focused on Cameroon, Africa. Through fundraising events, activities and outside support, Plant a Seed provides financial support for education, sports and community development, working directly with schools, communities and individuals.
        </p>
      </div>
    </div>
    <div class="small-1 columns">&nbsp;</div>
  </div>
</div>
