<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
       <h1>Contact</h1>
      <p>
        Thank you for your interest in Plant a Seed! please feel free to contact us at your convenience.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5 show-desktop">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
