<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>Donations</h1>
      <p>
        Donations are key to allow Plant a Seed reach out to the Cameroon and African people.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
