<div id="header">
  <div class="row">
    <div class="small-7 columns logo">
      <div class="header-image"><%= image_tag "header-home.jpg", :class => "circle-image" %></div>
    </div>

    <div class="small-5 columns">
      <div class="box1">
        <h2>Donations</h2>
        <p>
          Donations are key to allow Plant a Seed reach out to the Cameroon and African people.
        </p>
      </div>
    </div>
    <div class="small-1 columns">&nbsp;</div>
  </div>
</div>
