<div id="header">
  <div class="row">
    <div class="small-7 columns logo">
      <%= image_tag "logo.png", :style => "width:430px;" %>
      <div class="header-image"><%= image_tag "header-home.jpg" %></div>
    </div>

    <div class="small-5 columns">
      <div class="box1">
        <h2>Our Mission:</h2>
        <p>
          To plant seeds of hope, change and opportunity in schools, individuals and communities in Cameroon and around the world through education, sports, and clean water.
        </p>
      </div>
    </div>
    <div class="small-1 columns">&nbsp;</div>
  </div>
</div>
