<div id="header">
  <div class="row">
    <div class="small-7 columns logo">
      <div class="header-image"><%= image_tag "header-home.jpg" %></div>
    </div>

    <div class="small-5 columns">
      <div class="box1">
        <h2>Programs</h2>
        <p>
          With your help, we are reaching out to our communities planting seeds of hope, change and opportunity.
      </div>
    </div>
    <div class="small-1 columns">&nbsp;</div>
  </div>
</div>
