<div class="row">
  <h1><%= link_to "Show", medium %></h1>
  <h1 class="hh1"><%= medium.title %></h1>
  <div class="small-12 large-7 columns">
    <iframe width="560" height="315" src="//<%= medium.youtube %>?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="small-12 large-5 columns">
    <%=  markdown(medium.body) %>
  </div>
</div>
