<h2><%= link_to_unless_current medium.title, medium %></h2>
<iframe width="560" height="315" src="//<%= medium.youtube %>?rel=0" frameborder="0" allowfullscreen></iframe>
<%=  markdown(medium.body) %>


