<div class="row">
  <div class="small-12 columns">
    </br>
    <h3 class="auth"><%= link_to 'Show', @medium %></h3>
    </br>
    <h3 class="auth"><%= link_to 'Back', media_path %></h3>
    <h1>Editing medium</h1>
    <h3><%= render 'form' %></h3>
  </div>
</div>
