<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>News&Media</h1>
      <p>
        Check out the latest projects through Plant a Seed.
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1><%= link_to 'New Medium', new_medium_path %></h1>
    <h3><%= render :partial => @media %></h3>
  </div>
</div>
