<div class="example">
  <div class="example-inner clearfix">
    <div class="bigger">
      <h3>Header</h3>
      <p>&nbsp;</p>
    </div>
    <div class="smaller">
      <p>Header</p>
      <p>======</p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger">
      <h5>Header2</h5>
      <p>&nbsp;</p>
    </div>
    <div class="smaller">
      <p>Header2</p>
      <p>-----------</p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger">
      <ul>
        <li>red</li>
        <li>green</li>
          <ul>
            <li>blue</li>
          </ul>
      </ul>
    </div>
    <div class="smaller">
      <p>- red</p>
      <p>- green</p>
      <p>&nbsp;&nbsp;&nbsp;- blue</p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger">
      <p>_italic text_</p>
    </div>
    <div class="smaller">
      <p><i>italic text</i></p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger">
      <p>__bold text__</p>
    </div>
    <div class="smaller">
      <p><b>bold text</b></p>
    </div>
  </div>
  <div class="example-inner clearfix">
    <div class="bigger">
      <small>[link](http://example.net/)</small>
    </div>
    <div class="smaller">
      <p><a href="http://example.net/">Link</a></p>
    </div>
  </div>
</div>

