<div class="row">
  <div class="small-12 columns">
    <h1>Editing photo</h1>
    <%= render 'form' %>
    <h3><%= link_to 'Show', @photo %></h3>
    <h3><%= link_to 'Back', photos_path %></h3>
  </div>
</div>
