<div class="row">
  <div class="small-12 columns">
    <h1>Editing post</h1>
    <%= render 'form' %>
    <h3><%= link_to 'Show', @post %></h3>
    <h3><%= link_to 'Back', posts_path %></h3>
  </div>
</div>
