<div class="row">
  <div class="small-12 columns">
    <% if current_user %>
      </br>
      <h3 class="auth"><%= link_to 'Show', @post %></h3>
      </br>
      <h3 class="auth"><%= link_to 'Back', posts_path %></h3>
    <% end %>
    <h1>Editing post</h1>
    <%= render 'form' %>
  </div>
</div>
