<div id="header">
  <div class="row">
    <div class="small-12 large-6 columns header-right">
      <h1>Blog</h1>
      <p>
        asd fasd fasd fa dsf as dfa sdf asdfdf asdfa asdfasdf a sdf asdfdsaf asdf asd fasd fasdfasdf afsdfa sd fa sdfasdf
      </p>
    </div>
    <div class="small-12 large-6 columns header-left">
      <div class="buffer5">&nbsp;</div>
      <%= image_tag "logo.png", :class => "logo" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h1>Listing posts</h1>
    <h3><%= render :partial => @posts %></h3>
    <h3><%= link_to 'New Post', new_post_path %></h3>
  </div>
</div>
