body {
  line-height: 1.777;
  color: #666a76;
  background: #f8f8f9;
  font-size: 1em
}
#header {
  background: white;
  box-shadow: 0 -2px 7px #111;
  max-height: 45px;
  h1 {
    margin: 0px;
  }
}
