body {
  line-height: 1.777;
  color: #666a76;
  background: #f8f8f8;
  font-family: 'Serifa W01 55 Roman', 'Serifa Std', 'Serifa', 'Museo Slab', 'Rockwell', georgia, serif;

}
a {
  color: #295764;
  text-decoration: none;
}

.display-block {
  display: block;
}

.hh1 {
  background: #ddd;
  color: #777;
  padding: 5px 10px;
  line-height: 1em;
  border-radius: 2px
}
.hh3 {
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
.hh5 {
  margin: 5px auto;
  line-height: 1em;
  background: #555;
  color: #fff;
  padding: 2px 5px;
}

#promo {
  background: white;
  box-shadow: 0 -4px 9px -8px #444 inset;
  max-height: 45px;
  padding: 7px;
  height: 80px;
  h4 {
    margin: 0px 20px;
    text-align: center;
  }
}

.border-blue {
  border-bottom: 3px solid #53a1b8;
  width: 100%;
}

.button {
  background: white;
  border: 1px solid #53a1b8;
  border-radius: 2px;
  padding: 0px 10px;
  transition: all 0.5s;
  &:hover {
    background: #53a1b8;
  }
}
.button2 {
  background: #53a1b8;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0px 10px;
  transition: all 0.5s;
  &:hover {
    background: white;
  }
}

.left-image {
  box-shadow: 0 0 7px #333;
  border-radius: 50%;
  border: 2px solid white;
  float:left;
  margin: 7px;
}

.social {
  padding: 10px;
  height: 100px;
  margin-bottom: 10px;
  .social_item {
    float: left;
    margin: 4px;
  }
}

#nav {
  background: #f8f8f9;
  a {
    text-align: center;
    padding: 10px 0px;
    display: block;
    font-size: 23px;
  }
  li {
    list-style-type: none;
  }
  .active {
    position: relative;
    &:after {
      width: 10px;
      height: 10px;
      content: '';
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #53a1b8;
      position: absolute;
      bottom: 0px;
      left: 45%;
    }
  }
}

#header {
  background: #53a1b8;
  margin: 0px auto 50px;
  text-align: center;
  h1{
    font-size: 300%;
    margin: 10px auto 30px;
    line-height: 1em;
  }
  .header-left {
    margin: 0px auto;
    .logo {
      margin: 5px auto;
      width: 430px;
    }
    .header-image {
      margin: 0px auto;
      width: 140px;
    }
  }
  .header-right {
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
    color: #ddd;
    margin: 40px auto 0px;
    padding: 20px;
  }
}

.stylebox1 {
  background: #53a1b8;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  padding-bottom: 30px;
  h1 {
    text-align: center;
    font-size: 600%;
    margin: 10px auto;
    text-shadow: 0 -1px 0 #444;
    line-height: 1em;
  }
}

.stylebox2 {
  background: #f8f8f8;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 30px;
  h1 {
    text-align: center;
    font-size: 470%;
    margin: 10px auto;
  }
  h2 {
    margin: 5px auto;
    line-height: 1em;
  }
}

.buffer2 {
  margin: 40px auto;
}
.buffer4 {
  margin: 15px auto;
}
.buffer5 {
  margin: 10px auto;
}


.bigtext {min-height:400px;}

.example {
  background: white;
  border: 1px solid #ddd;
  max-width: 370px;
  margin: 0 auto;
  text-align: left;
  .example-inner {
    padding: 10px;
    width: 100%;
    p, h3, h5 {
      margin: 0px;
      line-height: 20px;
    }
    ul{margin:0px;}
    .bigger {
      width: 70%;
      float: left;
    }
    .smaller {
      width: 30%;
      float: left;
    }
  }
  .example-inner:nth-child(even) {
    background: #eee;
  }
}

